.main-description-box {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    background-color: rgba(44, 44, 44, 0.8); /* Dark background with transparency */
    color: white;
    border-radius: 8px; /* Add rounded corners */
  }
  
  .chart-box {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: rgba(44, 44, 44, 0.8); /* Dark background with transparency */
    color: white;
    border-radius: 8px; /* Add rounded corners */
  }