.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -250px; 
  background-color: #464444;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
  padding-top: 60px;
  font-family: Arial, sans-serif;
  border-radius: 0 20px 20px 0;
}

.sidenav.open {
  transform: translateX(250px); 
}

.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  z-index: 1100; 
}

.sidenav .logo {
  text-align: center;
  font-size: 25px;
  color: black;
  transition: 0.3s;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidenav ul li {
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.sidenav ul li:hover {
  background-color: #575757;
}

.sidenav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
}

.sidenav ul li a:hover {
  color: rgb(59, 59, 55);
}
